@import 'sections.css';
@import 'header.css';
@import 'tabelas.css';



@font-face {
    font-family: 'Rubik';
    src: url('../assets/font/Rubik.ttf') format('truetype');
}

*{
    font-family: Rubik;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}