.app-section{
    display: none;
    opacity: 0;
}

.app-section.section-active{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

#relDiario{
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#relDiario h1{
    margin: 20px 0 20px 0;
}