#tabelas-din{
    width: 900px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.tabela{
    width: 250px;
    height: 100px;
    /* border: 1px solid black; */

}

.tab-title{
    text-align: center;
    margin-top: -20px;
}

#tabela-totais{
    padding: 15px;
    width: 250px;
    height: 400px;
    border: 1px solid black;
}

input[type='number']{
    text-align: end;
    border: 1px solid black;
    border-radius: 4px;
    width: 190px;
    padding: 15px;
    font-size: 1.4rem;
}

input[type='number']::placeholder{
    position: fixed;
    text-align: start;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type='number']:focus {
    outline: none;
    background-color: rgba(230, 228, 228, 0.596);
}



#tabela-totais h1{
    text-align: center;
    margin-top: 0px;
}

.data{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

#tabela-totais h3{
    text-align: center;
    margin-bottom: 20px;
}

.total-geral{

    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
}